<h1>Login Page</h1>
<form method="post" action="/sessions">

  <label>Email:</label><br>
  <input type="text" name="email">
  </br>

  <label>Password:</label><br>
  <input type="password" name="password">
  </br

  <br>
  <input type="submit" value="Submit">
  </br>
</form>

<br>
<p>Not a user?</p>
<a href="/users/new">Register Here</a>
</br>
