<h1>Sign-up Page</h1>

<form method="post" action="/users">

  <label>First Name:</label><br>
  <input type="text" name="user[first_name]">
  </br>

  <label>Last Name:</label><br>
  <input type="text" name="user[last_name]">
  </br>

  <label>Email:</label><br>
  <input type="text" name="user[email]">
  </br>

  <label>Password:</label><br>
  <input type="password" name="user[password]">
  </br

  <br>
  <input type="submit" value="Submit">
  </br>

</form>
