<h1>Welcome <%= @user.first_name %></h1>

<!-- <form method="post" action="/sessions/:id">
  <input type="hidden" name="_method" value="delete"/>
  <label>Sign Out:</label><br>
  <br>
  <input type="submit" value="Log Out">
  </br>
</form> -->

<br>
<label>Return Home:</label><br>
<br>
<a href='/users'>
	<button type="button">Home</button>
</a>


